<ion-header>
  <ion-toolbar>
    <div class="mb-3 mt-0">
      <img src="../../assets/images/Logo.png" alt="Logo UVS"/>
      <ion-title class="title">Gestion des étudiants</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content  class="mt-5">
  <div class="form-group  inline-block m-2">
      <input type="text" class="form-control w-50">
      <ion-icon name="search-outline"></ion-icon>
  </div>
  <div style="overflow-x:auto;">
  <table class="table " id="example">
    <thead class="thead-dark">
      <tr>
        <th scope="col">PRENOM</th>
        <th scope="col">NOM</th>
        <th scope="col">INE</th>
        <th scope="col">FILIERE</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody *ngFor = "let element of etudiant">
      <tr *ngIf= "element.deleted == false" >
        <td>{{element.prenom}}</td>
        <td>{{element.nom}}</td>
        <td>{{element.ine}}</td>
        <td>{{element.filiere}}</td>
        <td><button class="btn btn-warning" (click)="Edit(element)"><ion-icon name="create-outline"></ion-icon></button>
      </tr>
    </tbody>
  </table>
  </div>
</ion-content>

