/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.ios ion-title
{
    text-align: center;
    color: maroon;
    font-family: 'Salsa';
    margin-top: 23% !important;
    font-size: 20px !important;
  }
.ios .save
{
  margin-top: 30% !important;
  margin-bottom: 0 !important;
}
.md .save
{
  margin-bottom: 5% !important;
}
.md ion-title
{
    text-align: center;
    color: maroon;
    font-family: 'Salsa';
    margin-top:  -50px !important;
    font-size: 30px !important;
}
.ios .logout
{
  font-size: 30px;
  color:#007bff;
}
.md .logout
{
  font-size: 25px;
  color:black;
}
#search
{
  background-image: url('./assets/icon/search.png') !important;
  background-repeat: no-repeat !important;
  background-size: 20px!important;
  background-position-x: 90%;
  background-position-y: 50%;
}